{% extends 'pagesApp.html.twig' %}
{% block addStylesheet %}
    <link rel="stylesheet" href="{{ asset('styles/novaVenda.css') }}">
{% endblock %}
{% block content %}
    <div class="container py-5">
        <div class="mb-4">
            <div class="mb-4 d-flex flex-row justify-content-between">
                <h1>Clientes</h1>
                <div>
                    <a href="/cliente/cadastrar/show" class="btn btn-danger">
                        <i class="bi bi-plus"></i> Novo cliente
                    </a>
                </div>
            </div>
            {% include "mensagens.html.twig" %}
            <section class="tabela2">
                <div class="table-responsive">
                    <table class="table-striped">
                        <thead class="tabela-topo">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nome</th>
                                <th scope="col-2 text-align-right">Ações</th>
                            </tr>
                        </thead>
                        <tbody id="tabela">
                            {% for cliente in clientes %}
                                <tr>
                                    <th scope="row">{{ cliente.id }}</th>
                                    <td>{{ cliente.nome }}</td>
                                    <td class="col-2 text-nowrap">
                                        <a href="#" class="btn btn-secondary btn-sm">
                                            <i class="bi bi-check"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">Nenhum cliente encontrado.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

{% endblock %}