body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.background-image {
 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 15px;
  border: none;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  min-height: 450px;
}

h3 {
  color: #333;
  font-weight: bold;
}

.toggle-btns {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-btns button {
  margin: 0 5px;
  width: 150px;
  border-radius: 30px;
}

.form-section {
  display: none;
}

.form-section.active {
  display: block;
}

.form-control {
  border-radius: 30px !important;
  padding: 15px;
  font-size: 16px;
}

.btn {
  border-radius: 30px  !important;
  padding: 10px;
  font-size: 16px;
}

#loginBtn{
  border: 1px solid #aaa6a6;
  color: #D12828;
}
#registerBtn{
  border: 1px solid #EFEBEB;
  background-color: #EFEBEB;
  color: #D12828;
}
.btn-outline.active,
.btn-outline-success.active {
  background-color: #EFEBEB ;
  border: 1px solid #EFEBEB;
  color: #D12828;
}

.btn-outline-primary:hover,
.btn-outline-success:hover {
  background-color: #5e5c5c;
  color: white;
}

#button-login{
  background-color: #D12828;
  color: white;
}
#button-login:hover{
  background-color: #f70000;
  color: white;
}
#button-register{
  background-color: #D12828;
  color: white;
}
#button-register:hover{
  background-color: #f70000;
  color: white;
}

@media (min-width: 320px) and (max-width: 399px) {
  .background-image {
    background: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pdv-txt {
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
}
