
.areaPadrao{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 800px;
  border-radius: 10px;
}
.areaTop{
  display: flex;
  flex: 1;
  background-color: #D93539;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  
}

.areaBottom{
  background-color: #ece9e9;
  padding: 20px;
  border-radius: 0px 0px 10px 0px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.132);
  
}