{% extends "pagesApp.html.twig" %}

{% block title %}
    Confirmação de Pagamento 
{% endblock %}
{% block addStylesheet %}
    <link rel="stylesheet" href="{{ asset('styles/novaVenda.css') }}">
{% endblock %}
{% block content %}
    <main class="py-5">
        <div class="container">
            <section class="tabela2">
                <div class="table-responsive">
                    <table class="table-striped">
                        <thead class="tabela-topo">
                            <tr class="tabela-topo">
                                <th scope="col">Produto</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Preço Unitário</th>
                                <th scope="col">Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody  id="tabela">
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </main> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        async function carregarCarrinho() {
            try{
                const response = await fetch('/api/buscarCarrinhoAguardandoPagamento',{
                    method: 'GET',
                    headers:{
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    if(false === response.ok) throw new Error("Erro ao buscar carrinhos")
                    return response.json();
                })
                .then(data => {
                    data.forEach(index => {
                        preencherTabela(index);
                    });
                })
            }catch(error){
                console.error('Erro ao carregar carrinhos:', error);
            }
        }

        function preencherTabela(carrinho){
            const carrinhoInfoDiv = document.getElementById('tabela');
            carrinho.items.forEach(item =>{
                let tr = document.createElement("tr");
                tr.innerHTML = `
                    <td>${item.produto.nome}</td>
                    <td>${item.quantidade}</td>
                    <td>R$${item.produto.valor}</td>
                    <td>R$ ${item.valor.toFixed(2)}</td>
                    <td>
                        <a href="/confirmarPagamento/${carrinho.id}" class="Finalizar-button2 w-50 text-nowrap p-2">
                            <strong>Finalizar venda</strong>
                        </a>
                    </td>
                `;
                carrinhoInfoDiv.appendChild(tr);
            })
        }
        carregarCarrinho();
    </script>
{% endblock %}


